<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>
</center>
	<div id="inicio" class="container-fluid table" >
		<h4>Lista de Produtos</h4>
		<table>
		  <tr>
			<th>Nome</th>
			<th>Fabricante</th>
			<th>Volume</th>
			<th>Unidade</th>
			<th>Estoque</th>
			<th></th>
			<th></th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="produto in listaProdutos">
			  <td>{{ produto.nome }}</td> 
			  <td>{{ produto.fabricante.nome }}</td> 
			  <td>{{ produto.volume }}</td> 
			  <td>{{ produto.unidade }}</td> 
			  <td>{{ produto.estoque }}</td>
			  <td>
				<a v-bind:href="'http://localhost:8080/mercado/alterar-produto.html?id=' + produto.id"><span>&#9998;</span> </a>  
				<span onClick="window.location.reload()" v-on:click="excluirProduto(produto)">&#10006;</span>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </div>
	  
	  <a href="/mercado/cadastrar-produto.html">&#10010; Adicionar novo produto </a>

	  <script src="resources/js/jquery.js"></script>
	  <script src="resources/js/vue.js"></script>
	  <script src="resources/js/axios.min.js"></script>
	  <script src="resources/js/bootstrap-vue.js"></script>
	  <script src="resources/js/bootstrap.min.js"></script>
	  <script src="resources/js/index.js"></script>
	</center>
</body>
</html>